/* h1{
  text-align: center;
  font-size: 50px;
  background-color: beige;
  color: black;
}

img{
  height: 100px;
  width: 100px;
  border: solid black;
  border-radius: 50px;
}
tr{
  text-align: center;
} */

