div p:first-child{

    background-color: aquamarine;
    border: 2px dotted black;
    border-radius: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div p:last-child{
    background-color: aquamarine;
    border: 2px dotted black;
    border-radius: 10px;
}